html {
    scroll-behavior: smooth;
  }

body {
    background-color: rgb(79, 52, 113);
    color: white;
}

div {
    display: block;
}

.navbar-nav {
    color: white;
    text-align: end;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 25px;
    width: 100%;
    font-family: 'Judson', serif;
    font-size: larger;
    font-style: italic;
}

.section-2 {
    width: auto;
    margin-bottom: 100px;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.w-col-8 {
    width: 65%;
    justify-content: center;
}

.w-col-4 {
    width: 35%;
    flex-direction: row-reverse;
}

.columns-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.column-3 {
    position: relative;
    left:0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

img.off {
    position: relative;
    z-index: -1;
}
    
img.on {
    position: absolute;
    animation-name: spotlightOn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-direction: alternate;
    
}

@keyframes spotlightOn {
    0% {
        opacity: 0;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

.container-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
    max-width: 1100px;
}

.column-4 {
    animation: 2s anim-lineUp ease-out 1;
    }
    @keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.section-3 {
    width: 100%;
    background-image: linear-gradient(#4f3471, #2d1748 75%);
    padding-bottom: 100px;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.display-1 {
    font-family: 'Judson', serif;
    font-size: 100pt;
    padding: 50px;
    justify-content: center;
    font-style: italic;
}

.heading-2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25pt;
    padding-bottom: 15px;
    font-style: italic;
}

.heading-3 {
    display: flex;
    color: white;
    position: center;
    margin: 10px;
    font-family: 'Judson', serif;
    font-size: 60px;
    line-height: 132%;
    font-weight: 400;
    font-style: italic;
}

.heading-4 {
    font-size: 50pt;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 60px;
    font-style: italic;
}

.heading-5 {
    color:#4f3471;
    font-size: 15pt;
    font-family: 'Judson', serif;
    margin-bottom: 10px;
    font-style: italic;
}

.content-2 {
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 18pt; 
    justify-content: baseline;
    padding: 10px;
    font-weight: lighter;
}

.section-4 {
    width: 100%;
    background-image: linear-gradient(#2d1748, #5dca9f 75%);
    padding-top: 150px;
    padding-bottom: 50px;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    color: #2d1748;
    font-weight: 400;
}

.shadowImage {
    filter: drop-shadow(-10px 10px 2px rgba(0, 0, 0, 0.3));
}

.section-4.heading-3 {
    color: #2d1748;
}

.row {
    margin: 0px 50px;
}

.illustrationGallery {
    object-fit: cover;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-instagram:hover, .fa-linkedin:hover {
    color: #2d1748;
}
.fab {
    color: rgb(79, 52, 113);
}

/* lightbox */

.ekko-lightbox{
    display:-ms-flexbox!important;
    display:flex!important;
    -ms-flex-align:center;
    align-items:center;-ms-flex-pack:center;
    justify-content:center;padding-right:0!important
}

.ekko-lightbox-container {
    position:relative
}

.ekko-lightbox-container>div.ekko-lightbox-item {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%
}

.ekko-lightbox iframe {
    width:100%;
    height:100%

}.ekko-lightbox-nav-overlay {
    z-index:1;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:-ms-flexbox;
    display:flex
}

.ekko-lightbox-nav-overlay a {
    -ms-flex:1;
    flex:1;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-align:center;
    align-items:center;
    opacity:0;
    transition:opacity .5s;
    color:#fff;
    font-size:30px;
    z-index:1
}

.ekko-lightbox-nav-overlay a>* {
    -ms-flex-positive:1;
    flex-grow:1
}

.ekko-lightbox-nav-overlay a>:focus{
    outline:none
}

.ekko-lightbox-nav-overlay a span {
    padding:0 30px
}

.ekko-lightbox-nav-overlay a:last-child span {
    text-align:right
}

.ekko-lightbox-nav-overlay a:hover {
    text-decoration:none
}

.ekko-lightbox-nav-overlay a:focus {
    outline:none
}

.ekko-lightbox-nav-overlay a.disabled {
    cursor:default;
    visibility:hidden;
}

.ekko-lightbox a:hover{
    opacity:1;
    text-decoration:none;
}

.ekko-lightbox .modal-dialog {
    display:none;
}

.ekko-lightbox .modal-footer {
    text-align:left;

}.ekko-lightbox-loader {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex-align:center;
    align-items:center;
}

.ekko-lightbox-loader>div {
    width:40px;
    height:40px;
    position:
    relative;
    text-align:center;
}

.ekko-lightbox-loader>div>div {
    width:100%;
    height:100%;
    border-radius:50%;
    background-color:#fff;opacity:.6;position:absolute;
    top:0;left:0;
    animation:a 2s infinite ease-in-out;
}

.ekko-lightbox-loader>div>div:last-child {
    animation-delay:-1s
}

.modal-dialog .ekko-lightbox-loader>div>div {
    background-color:#333}
    @keyframes a
    {0% {
        transform:scale(0);
        -webkit-transform:scale(0)
    }
    50% {
        transform:scale(1);
        -webkit-transform:scale(1)
    }
}

.img-fluid {
    object-fit: cover;
}

.imgContainer {
    height: 2fr;
    width: 4fr;
    padding: 5%;
    object-fit: cover;
}

/* footer styling */
#footer {
    text-align: right;
    justify-content: space-evenly;
    padding: 30px;
    background-color: #5dca9f;
}

/* Fonts
font-family: 'Comfortaa', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Judson', serif;
font-family: 'Questrial', sans-serif;
font-family: 'Urbanist', sans-serif; 
*/

