div {
    display: block;
}

.navbar-nav {
    color: white;
    text-align: end;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 25px;
    width: 100%;
    font-family: 'Judson', serif;
    font-size: larger;
}

.section-2 {
    margin-bottom: 100px;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.heading-3 {
    display: flex;
    color: white;
    position: center;
    margin: 10px;
    font-family:  'Judson', serif;;
    font-size: 60px;
    line-height: 132%;
    font-weight: 400;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.w-col {
    position: relative;
    float: left;
    width: 100%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.w-col-8 {
    width: 65%;
    justify-content: center;
}

.w-col-4 {
    width: 35%;
    flex-direction: row-reverse;
}

.columns-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.column-3 {
    position: relative;
    left:0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

img.off {
    position: relative;
    z-index: -1;
}
    
img.on {
    position: absolute;
    animation-name: spotlightOn;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-direction: alternate;
    
}

@keyframes spotlightOn {
    0% {
        opacity: 0;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

.container-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
    max-width: 1100px;
}

.column-4 {
    animation: 2s anim-lineUp ease-out 1;
    }
    @keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.section-3 {
    background-image: linear-gradient(#4f3471, #2d1748 75%);
    padding-bottom: 100px;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
}

.display-1 {
    font-family: 'Judson', serif;
    font-size: 100pt;
    padding-bottom: 50px;
    justify-content: center;
    font-style: italic;
}

.heading-2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 25pt;
    padding-bottom: 15px;
}

.heading-4 {
    font-size: 50pt;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 60px;
}

.content-2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 18pt; 
    justify-content: baseline;
    padding: 10px;
}

.section-4 {
    background-image: linear-gradient(#2d1748, #5dca9f 75%);
    padding-top: 150px;
    padding-bottom: 50px;
    -webkit-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    color: #2d1748;
    font-weight: 400;
}

.shadowImage {
    filter: drop-shadow(-10px 10px 2px rgba(0, 0, 0, 0.3));
}

.section-4.heading-3 {
    color: #2d1748;
}

.row {
    margin: 0px 50px;
}

/* font-family: 'Comfortaa', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Judson', serif;
font-family: 'Urbanist', sans-serif; */

